/* orbitron-regular - latin */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/orbitron-v25-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/orbitron-v25-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* orbitron-700 - latin */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/orbitron-v25-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/orbitron-v25-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* orbitron-900 - latin */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/orbitron-v25-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/orbitron-v25-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    display: grid;
    min-height: 100vh;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    font-family: 'Orbitron';
    background-color: grey;
}

.container {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    padding-block: 1.5rem;
}

.calculator {
    width: 30rem;
    height: 40rem;
    background-color: black;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
}

.display {
    height: 10rem;
    display: flex;
    padding: 2rem;
}

.screen {
    flex-grow: 1;
    background-color: darkgrey;
    border-radius: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 2rem;
    padding-inline: 1rem;
    position: relative;
}

.screen::before {
    position: absolute;
    content: attr(data-history);
    top: 0;
    right: 1rem;
    font-size: 1rem;
}

.keys {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.key {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    box-shadow: .2rem .2rem 1rem grey;
    border: 0;
    font-size: 2rem;
}

.key.power {
    font-size: 1rem;
}

.key.ac {
    background-color: orange;
}

.key.eq {
    background-color: lightblue;
}

.main-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-block: 1rem;
}

@media (min-width: 768px) {
    .container {
        max-width: 50rem;
    }

}